$background_Button: rgb(217, 26, 77);
$box_Shadow_Card: rgb(23, 144, 191);
$background: rgb(182, 217, 54);
$card_background: rgb(242, 203, 5);
$brownLight: rgb(166, 92, 3);
$white: rgb(255, 255, 255);